<!-- {% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
     -->
    
    <!-- This is the new code -->
<!-- <section class="latest-blog spad" id="workshopsandevents">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Workshops and Events</h2>
            </div>
        </div>
    </div>
    <div class="interior container clearfix">
      <div class="row"> 
         -->
       
        <!-- <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" >
          <div class="item">
            <img src="https://www.solodev.com/assets/fancy/travel6.jpg">
            <div class="blogTxt">
              <div class="blogCategory">
                <a href="/">Internet of Things (IoT)</a>
              </div>
              <h2>Workshop 2</h2>
              <p class="post_intro hidden-xs">Sed possim nonumes no, iuvaret similique quo no. Ut sea idque option aliquando. Ei mea choro ap...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" >
          <div class="item">
            <img src="https://www.solodev.com/assets/fancy/travel9.jpg">
            <div class="blogTxt">
              <div class="blogCategory">
                <a href="/">Artifical Intelligence</a>
              </div>
              <h2>Workshop 3</h2>
              <p class="post_intro hidden-xs">Ad populo appareat vulputate vix, ex fastidii signiferumque pro. In sea doming reprehendunt. Na...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
           <div class="item">
            <img src="https://www.solodev.com/assets/fancy/travel7.jpg">
            <div class="blogTxt">
              <div class="blogCategory">
                <a href="/">Big Data</a>
              </div>
              <h2>Workshop 4</h2>
              <p class="post_intro hidden-xs">Delicata inciderint at per, eu partem principes eum, illud nobis appetere ex his. Ei vix melior...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
          <div class="item">
            <img src="https://www.solodev.com/assets/fancy/travel8.jpg">
            <div class="blogTxt">
              <div class="blogCategory">
                <a href="/">Growth Hacking</a>
              </div>
              <h2>Workshop 5</h2>
              <p class="post_intro hidden-xs">No ipsum invidunt eos, ei ius dicit platonem perpetua. Mea te feugait ocurreret aliquando, ei i...</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 blogBox moreBox" style="display: none;">
          <div class="item">
            <img src="https://www.solodev.com/assets/fancy/travel2.jpg">
            <div class="blogTxt">
              <div class="blogCategory">
                <a href="/">Content Marketing</a>
              </div>
              <h2>Workshop 6</h2>
              <p class="post_intro hidden-xs">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi...</p>
            </div>
          </div>
        </div> -->
<!-- 
                {% for block in self.block %}
                    {% include_block block %}
                {% endfor %} -->
        <!-- <div id="loadMore" style="">
          <a href="#">Load More</a>
        </div>
      </div>
    </div>
  
  </section>
   -->
  